{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:storybook/recommended",
    "plugin:@next/next/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "next"
  ],
  "plugins": ["@babel", "react", "prettier"],
  "rules": {
    "arrow-parens": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export": "off",
    "indent": "off",
    "no-multi-spaces": ["error"],
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "quotes": ["error", "single"],
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-wrap-multilines": "off",
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "react/react-in-jsx-scope": "off",
    "semi": "off"
  }
}
